<!doctype html>
<html lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="author" content="Anton Schubert"/>
	<title> JS Calendar </title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
	<link rel="stylesheet" href="main.css"/>
	<!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
  <div class="container">
  	<h1>UI Calendar</h1>
  	<div id="calendar"></div>
  </div>
</body>


<script type="text/html" id="calendarTemplate">
	<div class="head">
		<div class="prev icon icon-left">
		</div><div class="title"><%= data.title %>
		</div><div class="next icon icon-right"></div>
	</div>

	<div class="dateContainer clearfix">
		<% if(data.layout === "years"){ %>
			<% data.years.forEach(function(item){  %>
				<div class="year <%= item.properties %>"><%= item.name  %></div>
			<% }); %>
		<% }else if(data.layout === "months"){ %>
			<%  data.months.forEach(function(item){  %>
				<div class="month <%= item.properties %>"><%= item.name  %></div>
			<% }); %>
		<% }else{ %>
			<%  data.dayTitles.forEach(function(item){  %>
				<div class="dayTitle <%= item.properties %>"><%= item.name  %></div>
			<% }); %>
			<%  data.days.forEach(function(item){  %>
				<div class="day <%= item.properties %>"><%= item.name  %></div>
			<% }); %>
		<% } %>
	</div>
</script>

<!-- template built with lodash-cli (npm)  -->
<!-- lodash -m template="./*.ejs" settings="{variable: 'data'}" exports=global -->
<script src="calendar.js"></script>
<script>
	var element= document.getElementById("calendar");
  var cal= calendar(element, new Date());
	element.addEventListener(cal.events.SELECTDAY, function(event){
		console.log("select Day Event", event.detail);
	});

	element.addEventListener(cal.events.SELECTMONTH, function(event){
		// random event days
		var eventDays= [];
		for(var i=0; i<event.detail.date.getDate(); i++){
			eventDays[i]= (Math.random() > 0.5);
		}
		cal.setEventDays(eventDays);
	});

</script>
</html>
