@import "../base.less";

@outerColor: @red; //#C1530B
@innerColor: white;
@linkColor: spin(@red, 20);

body {
	background: @gray-light;
}

#main {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  .user-select(none);

	.container{
		width: 302px;
		height: 302px;
		margin: 200px auto;

		.perspective(800px);
	}

  /* Cube Definition */
  #cube {
    width: 300px;
    height: 300px;
    position: absolute;

		.transform-style(preserve-3d);

    &:hover{
      cursor: move;
    }

    figure{
      display: table;
      position: absolute;
      overflow: hidden;
      .backface-visibility(hidden);

      /* Background / Size of the Planes */
      &.fronto, &.backo, &.righto, &.lefto {
        background-color: @innerColor;
        #gradient.horizontal(@innerColor, darken(@innerColor, 3%), 0%, 100%);
        border: 1px solid @innerColor;
        color: @outerColor;
        // -webkit-text-stroke: @outerColor 1px; /* Fix chrome font rendering */
        width: 301px;
        height: 301px;
        outline: 1px solid transparent;
      }

      &.fronti, &.backi, &.righti, &.lefti {
        background-color: @outerColor;
        #gradient.horizontal(@outerColor, darken(@outerColor, 3%), 0%, 100%);
        border: 1px solid transparent;
        color: @innerColor;
        // -webkit-text-stroke: @innerColor 1px; /* Fix chrome font rendering */
        width: 300px;
        height: 300px;
      }

      &.top, &.bottom{
        width: 302px;
        height: 302px;
        background-color: rgba(1, 1, 1, 0);
      }
    }
  }
}

/* Build the Cube */

/* Webkit */
#cube .fronto { -webkit-transform: translate3d(0,0,150px);}
#cube .backo  { -webkit-transform: rotate3d(0,1,0,180deg) translate3d(0,0, 150px); }
#cube .righto { -webkit-transform: rotate3d(0,1,0, 90deg) translate3d(0,0, 150px); }
#cube .lefto  { -webkit-transform: rotate3d(0,1,0,-90deg) translate3d(0,0, 150px); }
#cube .fronti { -webkit-transform: rotate3d(0,1,0,180deg) translate3d(-1px,0,-149px); }
#cube .backi  { -webkit-transform: translate3d(1px,0,-149px); }
#cube .righti { -webkit-transform: rotate3d(0,1,0,-90deg) translate3d(0,0,-149px); }
#cube .lefti  { -webkit-transform: rotate3d(0,1,0, 90deg) translate3d(0,0,-149px); }
#cube .top    { -webkit-transform: rotate3d(1,0,0, 90deg) translate3d(0,0, 150px); }
#cube .bottom { -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0, 150px); }

// /* IE */
#cube .fronto { -ms-transform: translate3d(0,0,150px);}
#cube .backo  { -ms-transform: rotate3d(0,1,0,180deg) translate3d(0,0, 150px); }
#cube .righto { -ms-transform: rotate3d(0,1,0, 90deg) translate3d(0,0, 150px); }
#cube .lefto  { -ms-transform: rotate3d(0,1,0,-90deg) translate3d(0,0, 150px); }
#cube .fronti { -ms-transform: rotate3d(0,1,0,180deg) translate3d(-1px,0,-149px); }
#cube .backi  { -ms-transform: translate3d(1px,0,-149px); }
#cube .righti { -ms-transform: rotate3d(0,1,0,-90deg) translate3d(0,0,-149px); }
#cube .lefti  { -ms-transform: rotate3d(0,1,0, 90deg) translate3d(0,0,-149px); }
#cube .top    { -ms-transform: rotate3d(1,0,0, 90deg) translate3d(0,0, 150px); }
#cube .bottom { -ms-transform: rotate3d(1,0,0,-90deg) translate3d(0,0, 150px); }

/* Firefox + Future Browsers */
#cube .fronto { transform: translate3d(0,0,150px);}
#cube .backo  { transform: rotate3d(0,1,0,180deg) translate3d(0,0, 150px); }
#cube .righto { transform: rotate3d(0,1,0, 90deg) translate3d(0,0, 150px); }
#cube .lefto  { transform: rotate3d(0,1,0,-90deg) translate3d(0,0, 150px); }
#cube .fronti { transform: rotate3d(0,1,0,180deg) translate3d(-1px,0,-149px); }
#cube .backi  { transform: translate3d(1px,0,-149px); }
#cube .righti { transform: rotate3d(0,1,0,-90deg) translate3d(0,0,-149px); }
#cube .lefti  { transform: rotate3d(0,1,0, 90deg) translate3d(0,0,-149px); }
#cube .top    { transform: rotate3d(1,0,0, 90deg) translate3d(0,0, 150px); }
#cube .bottom { transform: rotate3d(1,0,0,-90deg) translate3d(0,0, 150px); }

#cube {
  -webkit-transform: translate3d(0,0,-150px);
      -ms-transform: translate3d(0,0,-150px);
          transform: translate3d(0,0,-150px);
}

/* Text */
figure .text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#rightot {
	font-size: 5em;
}

a {outline: 0; text-decoration:none;}
a:link {color: @linkColor;}      /* unvisited link */
a:visited {color: @linkColor;}  /* visited link */
a:hover {color: lighten(@linkColor, 10%);}  /* mouse over link */
a:active {color:lighten(@linkColor, 10%);}  /* selected link */
